body{
  background-color: rgb(25, 73, 45);
}

.card {
    width: 250px;
    margin: 10px;
    background-color: rgb(161, 192, 107);
    border-radius: 15px;
    padding: 10px
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .card-title {
    font-size: 16px;
    margin-top: 10px;
  }
  
  .card-text {
    font-size: 14px;
    
  }
  
  .main{
    display: flex;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    flex-wrap: wrap;
    
  }

  .container{
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .container>h1{
    color: gold;
  }